/* https://github.com/antfu/prism-theme-vars */
@import "prism-theme-vars/base.css";

html {
  --prism-block-radius: 0.125rem !important;
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #fbfbfb;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
}

html.dark {
  --prism-foreground: #d4cfbf;
  --prism-background: #151515;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
}

.markdown {
  @apply text-lg sm:text-base;
}

.markdown .table-of-contents {
  @apply text-sm;
  @apply border-b-1;
  @apply mb-12 pb-8;
}

.markdown .table-of-contents a {
  @apply !no-underline;
  @apply py-1 px-1.5;
}

.markdown .table-of-contents * {
  @apply mt-0.1;
}

.markdown .table-of-contents > ul > li {
  @apply ml-0;
}

.markdown .table-of-contents > ul > li > ul > li {
  @apply ml-4;
}

.markdown .table-of-contents > ul > li > ul > li > ul > li {
  @apply ml-8;
}

.markdown .table-of-contents > ul > li > ul > li > ul > li > ul > li {
  @apply ml-12;
}

.markdown li:not(.table-of-contents) {
  @apply my-1;
}

.markdown > ul > li {
  @apply ml-0;
}

.markdown > ul > li > ul > li {
  @apply ml-4;
}

.markdown > ul > li > ul > li > ul > li {
  @apply ml-8;
}

.markdown > ul > li > ul > li > ul > li > ul > li {
  @apply ml-12;
}

.markdown .named-fence-filename {
  @apply absolute;
  @apply top-0 left-0;
  @apply h-8;
  @apply text-sm;
  @apply align-middle;
  @apply flex;
  @apply items-center;
  @apply pl-2;
  @apply text-light-100 dark:text-gray-800;
  @apply z-1;
}

.markdown .u-mdic-copy-notify {
  display: none;
}

.markdown .m-mdic-copy-wrapper {
  @apply h-8;
  @apply rounded-t-sm;
  @apply w-full;
  @apply invert;
  @apply !bg-opacity-80;
  @apply absolute;
  @apply flex
  @apply inset-0;
  @apply text-primary dark:text-secondary;
}

.markdown .m-mdic-copy-wrapper > .u-mdic-copy-notify {
  @apply text-xl;
  @apply absolute;
  @apply right-0;
  @apply pr-8 pt-1;
}

.markdown .m-mdic-copy-wrapper > .u-mdic-copy-btn {
  @apply absolute;
  @apply right-0;
  @apply pr-2 pt-2;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  @apply font-bold;
  @apply pt-4;
  @apply pb-2;
}

.markdown h1 {
  @apply text-3xl;
}

.markdown h2 {
  @apply pl-1;
  @apply text-2xl;
}

.markdown h3 {
  @apply pl-2;
  @apply text-xl;
}

.markdown h4 {
  @apply pl-3;
  @apply text-lg;
}

.markdown code:not(*[class|="language"]) {
  @apply bg-secondary text-primary dark:(bg-primary text-secondary);
  @apply bg-opacity-80;
  @apply p-0.5;
}

.markdown pre[class*="language"] {
  @apply max-h-50vh;
  @apply m-0;
  @apply border-2;
  @apply rounded-b-sm;
  @apply rounded-t-none;
  @apply scrollbar;
  @apply scrollbar-w-4px scrollbar-h-4px sm:(scrollbar-w-12px scrollbar-h-12px);
  @apply scrollbar-thumb-color-secondary/80;
  @apply dark:scrollbar-thumb-color-primary/80;
  @apply scrollbar-track-color-[var(--prism-background)]/80;
  @apply border-secondary/80 dark:border-primary/80;
}

.markdown > *:not(ul) {
  @apply mt-4;
}

.markdown a:not(.header-anchor) {
  @apply link;
  @apply underline;
}

.markdown blockquote {
  @apply ml-2;
  @apply border-l-4;
  @apply pl-4;
}

.markdown ul {
  @apply list-disc;
  @apply list-inside;
}

.markdown table {
  @apply border-collapse border;
}

.markdown table > thead,
.markdown table > tbody {
  @apply bg-primary text-secondary dark:(bg-secondary text-primary);
}

.markdown table td,
.markdown table th {
  @apply border;
  @apply px-4 py-2;
}
