/* nuxt content */

div.nuxt-content blockquote {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F2F6F8;
}

div.nuxt-content blockquote p {
    margin-left: 10px;
}

div.nuxt-content p,
div.nuxt-content div.nuxt-content-highlight pre,
div.nuxt-content div.box {
    margin-left: 20px;
    margin-right: 20px;
}

div.nuxt-content div.nuxt-content-highlight pre {
    border: 1px solid black;
    border-radius: 10px;
}

div.nuxt-content ul>li>a,
div.nuxt-content p>a,
div.nuxt-content div.box>a {
    text-decoration: none;
    color: royalblue;
}

div.nuxt-content ul>li>a:hover,
div.nuxt-content p>a:hover,
div.nuxt-content div.box>a:hover {
    mix-blend-mode: difference;
    font-weight: bold;
}

div.nuxt-content h2 code,
div.nuxt-content h3 code,
div.nuxt-content h4 code,
div.nuxt-content h5 code,
div.nuxt-content p code,
div.nuxt-content ul li code,
div.nuxt-content div.el-card.box div.el-card__body code {
    background-color: #ededed;
    word-break: break-all;
    border-radius: 3px;
}