body {
    margin: 0;
    background-color: #EFEFEA;
}

html {
    font-family: 'Roboto';
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify;
}

.no-text-decoration {
    text-decoration: none !important;
}

.flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.block {
    display: block !important;
}

a div.el-card:hover {
    background-color: lightgray !important;
    transition: 2s !important;
}