/* from https://github.com/tiangolo/typer/blob/master/docs/css/custom.css */

.termynal-comment {
    color: #4a968f;
    font-style: italic;
    display: block;
}

div [data-termynal] {
    white-space: pre-wrap;
}

div [data-ty="progress"] {
    color: #3ec930;
}

div[data-termynal] a[data-terminal-control] {
    color: yellow;
    text-decoration: none;
}